# Ignore temp files
*.log
*.tmp

# Ignore other folders

**/node_modules/
**/package-lock.json
**/package.json
!threejs-intro/node_modules/
!threejs-intro/package-lock.json
!threejs-intro/package.json

text.txt
